.link {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 700;
    color: #c8cccf;

    border-radius: 5px;
    border: 1px solid #cacaca;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:hover {
    text-decoration: none;
    background-color: rgb(8, 139, 247);
    border-color: rgb(8, 139, 247);
    color: #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.link:last-child {
    margin-left: 25px;
}

.activeLink {
    color: #ffffff;
    background-color: rgb(8, 139, 247);
    border-color: rgb(8, 139, 247);
    text-decoration: none;
}
